/* Albums Carousel Styling */
.albums {
  margin: 20px auto;
  width: 80%; /* Adjust as needed for layout */
}

.album {
  text-align: center;
  display: inline-block;
  margin: 10px;
}

.album img {
  width: 100%;
  max-width: 300px; /* Adjust the max-width of the images */
  height: auto;
  border-radius: 10px;
  transition: transform 0.2s;
}

.album img:hover {
  transform: scale(1.05);
}

.album p {
  font-family: 'sloop', cursive;
  font-size: 1.5rem;
  color: #C70D0D;
  margin-top: 0.5rem;
}
