@font-face {
  font-family: 'retropix';
  src: url(fonts/retropix.otf);
}
@font-face {
  font-family: 'sloop';
  src: url(fonts/Sloop-ScriptThree\ 5.ttf);
}
@font-face {
  font-family: 'akzidenz';
  src: url(fonts/Akzidenz-grotesk-bold.ttf);
}
@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }
}

.albums {
  display: flex;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
}

.album {
  text-align: center;
  display: inline-block; /* Aligns items horizontally */
  margin: 10px; /* Adds space between albums */
  text-align: center; 
}

.album img {
  max-width: 20%;
  border-radius: 10px;
  transition: transform 0.2s;
}

.album img:hover {
  transform: scale(1.05);
}

.album p {
  font-family: 'sloop', cursive;
  font-size: 1.5rem;
  color: #C70D0D;
  margin-top: 0.5rem;
}

body {
  background-color: #000;
  color: #fff;
  font-family: 'akzidenz', sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  box-sizing: border-box;
}

header {
  padding: 1rem;
}

nav ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: center;
}

nav ul li {
  margin: 0 2rem;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.5rem;
}

nav ul li a.active {
  color: #C70D0D;
  background-color: #000;
}

.full-height {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.swiper-container {
  width: 80%;
  height: 80%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: rgb(0, 0, 0);
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  width: auto;
  height: 100%;
}

.swiper-pagination-bullet {
  background: #C70D0D;
}

.swiper-pagination-bullet-active {
  background: #C70D0D;
}

.swiper-button-next,
.swiper-button-prev {
  color: #C70D0D;
}
