@font-face {
  font-family: 'retropix';
  src: url(fonts/retropix.otf);
  src: url('fonts/retropix.woff2') format('woff2'), 
  url('fonts/retropix.woff') format('woff');
}
@font-face {
  font-family: 'sloop';
  src: url(fonts/Sloop-ScriptThree\ 5.ttf);
}
@font-face {
  font-family: 'akzidenz';
  src: url(fonts/Akzidenz-grotesk-bold.ttf);
}

.box {
  display: flex;
  display: -webkit-flex; /* Safari fallback */
}

body {
  background-color: #000;
  color: #fff;
  font-family: 'akzidenz', sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  box-sizing: border-box;
}

.full-height {
  height: 100vh; /* This makes the main section take up the full viewport height */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header {
  padding: 1rem;
}

nav ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap; 
}

nav ul li {
  margin: 0 2rem;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.5rem;
}

.active {
  color: #C70D0D;
}

/* Media Queries for Responsiveness */
@media (max-width: 768px) {
  nav ul li {
    margin: 0 0.5rem; /* Further reduced margin */
  }

  nav ul li a {
    font-size: 1rem; /* Further reduced font size */
  }
}

@media (max-width: 480px){
    nav ul li {
        margin: .2rem;
    }
    nav ul li a{
        font-size: .8rem;
        padding: .2rem;
    }
}

/* Albums Carousel */
.albums {
  margin: 20px auto;
  width: 80%;
  text-align: center;
}

.album {
  display: inline-block;
  margin: 10px;
}

.album img {
  width: 100%;
  max-width: 300px;
  height: auto;
  border-radius: 10px;
  transition: transform 0.2s;
}

.album img:hover {
  transform: scale(1.05);
}

.album p {
  font-family: 'sloop', cursive;
  font-size: 3rem;
  color: #C70D0D;
  margin-top: 0.5rem;
}
h1 {
  text-align: center; /* Add this line */
}
.word1 {
  font-family: 'akzidenz';
  font-size: 5rem;
  color: #ffffff;
  margin-top: 0.5rem;
}

.word2 {
  font-family: 'retropix';
  font-size: 4.5rem;
  color: #ffffff;
  margin-top: 0.5rem;
}
/* Swiper Styles */
.swiper-container {
  width: 80%; /* Adjust the overall container width */
  max-width: 1000px; /*optional max width*/
  height: 80vh; /* Adjust height as needed */
  margin: 0 auto; /* Center the container */
}

.swiper-slide img {
  width: auto;
  max-width: 100%; /* Constrain image width */
  height: auto;
  max-height: 100%; /* Constrain image height */
  display: block; /* Remove potential extra spacing */
  margin: 0 auto; /*Center the image*/
}

.full-height {
  height: 100vh; /*make the section fill the whole viewport*/
  display: flex;
  align-items: center;
}