@font-face {
  font-family: 'retropix';
  src: url(fonts/retropix.otf);
  src: url('fonts/retropix.woff2') format('woff2'), 
  url('fonts/retropix.woff') format('woff');
}
@font-face {
  font-family: 'sloop';
  src: url(fonts/Sloop-ScriptThree\ 5.ttf);
}
@font-face {
  font-family: 'akzidenz';
  src: url(fonts/Akzidenz-grotesk-bold.ttf);
}

.box {
  display: flex;
  display: -webkit-flex; /* Safari fallback */
}

body {
  background-color: #000;
  color: #fff;
  font-family: 'akzidenz', sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  box-sizing: border-box;
}

header {
  padding: 1rem;
  padding-bottom: 4rem;
}

.header-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.logo {
  height: auto;
  max-height: 90vh;
  display: flex;
  margin: 0 auto;
  justify-content: center; /*centers the image*/
}
.logo img { /* Targets the img inside the logo div */
  max-width: 100%; /* Adjust percentage as needed */
  height: auto;
  max-height: 90vh; /*Adjust as needed*/
  display: block;
  margin: 0 auto;
  padding-bottom: 10vh;
}
nav ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap; 
}

nav ul li {
  margin: 0 2rem;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.5rem;
}

nav ul li:first-child a {
  color: #C70D0D;
}

/* Media Queries for Responsiveness */
@media (max-width: 768px) {
  nav ul li {
    margin: 0 0.5rem; /* Further reduced margin */
  }

  nav ul li a {
    font-size: 1rem; /* Further reduced font size */
  }
}

@media (max-width: 480px){
    nav ul li {
        margin: .2rem;
    }
    nav ul li a{
        font-size: .8rem;
        padding: .2rem;
    }
}

/* Remove main styles */

/* New and updated CSS */
.who-is-isa {
  background-color: black;
  color: white;
  padding: 20px;
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.content-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

.text-content {
  width: 60%;
  padding-right: 20px;
}

.image-content {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.who-is {
  color: white;
  font-size: 2.5em;
  font-family: 'akzidenz';
  margin-top: 0; /* Adjust this to control vertical spacing */
}

.isa-script {
  color: #C70D0D;
  font-family: 'sloop', cursive;
  font-size: 5em;
  margin-top: -.2em; /* Adjust this to control vertical spacing */
  margin-left: .5em;
}

.who-is-isa p {
  font-family: 'akzidenz';
  line-height: 1.6;
  margin: 1rem;
}

 .portrait {
  max-width: 100%;
  height: auto;
  display: block;
  /*margin-bottom: 20px; Add spacing between images*/
  border-radius: 10px;  /*Optional: To make the images have rounded corners */
}

.image-content img {
  width: 70%;
  margin-bottom: 20px; 
  border-radius: 10px; /* Optional: To make the images have rounded corners */
}

@media (max-width: 768px) {
  .content-wrapper {
    flex-direction: column;
    padding: 1rem;
  }

  .text-content, .image-content {
    width: 100%;
  }
}
@media (max-width: 768px) {
  .logo {
    width: 90vw; /* Adjust for smaller screens */
    max-height: 70vh;
  }
}