@font-face {
  font-family: 'retropix';
  src: url(fonts/retropix.otf);
  src: url('fonts/retropix.woff2') format('woff2'), 
  url('fonts/retropix.woff') format('woff');
}
@font-face {
  font-family: 'sloop';
  src: url(fonts/Sloop-ScriptThree\ 5.ttf);
}
@font-face {
  font-family: 'akzidenz';
  src: url(fonts/Akzidenz-grotesk-bold.ttf);
}

.box {
  display: flex;
  display: -webkit-flex; /* Safari fallback */
}

body {
  background-color: #000;
  color: #fff;
  font-family: 'akzidenz', sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  box-sizing: border-box;
}

.full-height {
  height: 100vh; /* This makes the main section take up the full viewport height */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header {
  padding: 1rem;
}

nav ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap; 
}

nav ul li {
  margin: 0 2rem;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.5rem;
}

nav ul li:first-child a {
  color: #C70D0D;
}

main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.name-container {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
}

h1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  line-height: 1;
  margin: 0;
}

.first-name {
  font-family: 'akzidenz', sans-serif;
  font-size: 8rem;
  align-self: flex-end;
  margin-bottom: -5rem;
  margin-right: -6.5rem; /* Adjust this value to move ISA more to the right */
  word-wrap: break-word;
}

.last-name {
  font-family: 'sloop', cursive;
  font-weight: 100;
  font-size: 12rem;
  margin-top: -1rem; /* Adjust this to control vertical spacing */
  margin-left: -15rem; /* Adjust this value to move Muñoz more to the left */
  word-wrap: break-word;
}

.subtitle {
  font-family: 'retropix';
  font-size: 2rem;
  color: #C70D0D;
  margin-top: -1.5rem;
  letter-spacing: -0.05em; /* Adjust this value to squish letters together */
  word-spacing: 1em; 
}

.ampersand {
  font-family: 'sloop', cursive;
  color: white;
  font-size: 4.5rem; /* Adjust this size as needed */
  vertical-align: middle;
  letter-spacing: normal;
}

.bible-verse {
  font-family: 'akzidenz', monospace;
  margin-top: 2rem;
  padding: 0.5rem 1rem;
  background-color: #333;
  border-radius: 20px;
}

/* New and updated CSS */
.who-is-isa {
  background-color: black;
  color: white;
  padding: 20px;
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.content-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

.text-content {
  width: 60%;
  padding-right: 20px;
}

.image-content {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.who-is {
  color: white;
  font-size: 2.5em;
  font-family: 'akzidenz';
  margin-top: 0; /* Adjust this to control vertical spacing */
}

.isa-script {
  color: #C70D0D;
  font-family: 'sloop', cursive;
  font-size: 5em;
  margin-top: -.2em; /* Adjust this to control vertical spacing */
  margin-left: .5em;
}

.who-is-isa p {
  font-family: 'akzidenz';
  line-height: 1.6;
  margin: 1rem;
}

 .portrait {
  max-width: 100%;
  height: auto;
  display: block;
  /*margin-bottom: 20px; Add spacing between images*/
  border-radius: 10px;  /*Optional: To make the images have rounded corners */
}

.image-content img {
  width: 70%;
  margin-bottom: 20px; 
  border-radius: 10px; /* Optional: To make the images have rounded corners */
}

/* Specific placement for the images 
.image1 {
  max-width: 70%;
  height: auto;
  align-self: flex-start;
}

/* .image2 {
  max-width: 40%;
  height: auto;
  margin-right: -30rem;
  /*align-self: flex-end;
  margin-bottom: -1.rem;
} */
/* 
.image3 {
  max-width: 60%;
  margin-right: 50rem;
  margin-bottom: 2rem;
  height: auto;
  align-self: center; 
} */

@media (max-width: 768px) {
  .content-wrapper {
    flex-direction: column;
    padding: 1rem;
  }

  .text-content, .image-content {
    width: 100%;
  }

  .first-name, .last-name {
    font-size: 4rem;
  }
}