/* Font Definitions */
@font-face {
  font-family: 'retropix';
  src: url(fonts/retropix.otf);
}
@font-face {
  font-family: 'sloop';
  src: url(fonts/Sloop-ScriptThree\ 5.ttf);
}
@font-face {
  font-family: 'akzidenz';
  src: url(fonts/Akzidenz-grotesk-bold.ttf);
}

/* Basic Styling */
body {
  background-color: #000;
  color: #fff;
  font-family: 'akzidenz', sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  box-sizing: border-box;
}

header {
  padding: 1rem;
}

nav ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: center;
  margin: 0;
}

nav ul li {
  margin: 0 2rem;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.5rem;
}

nav ul li:first-child a {
  color: #C70D0D;
}

main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* Main Title Styling */
.name-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

h1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  line-height: 1;
  margin: 0;
}

.first-name {
  font-family: 'akzidenz', sans-serif;
  font-size: 8rem;
  align-self: flex-end;
  margin-bottom: -5rem;
  margin-right: -6.5rem; /* Adjust as needed */
}

.last-name {
  font-family: 'sloop', cursive;
  font-size: 12rem;
  margin-top: -1rem; /* Adjust as needed */
  margin-left: -15rem; /* Adjust as needed */
}

.subtitle {
  font-family: 'retropix';
  font-size: 2rem;
  color: #C70D0D;
  margin-top: -1.5rem;
  letter-spacing: -0.05em;
  word-spacing: 1em;
}

.ampersand {
  font-family: 'sloop', cursive;
  color: white;
  font-size: 4.5rem;
  vertical-align: middle;
  letter-spacing: normal;
}

.bible-verse {
  font-family: 'akzidenz', monospace;
  margin-top: 2rem;
  padding: 0.5rem 1rem;
  background-color: #333;
  border-radius: 20px;
}

/* Content Section */
.who-is-isa {
  background-color: black;
  color: white;
  padding: 20px;
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.content-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

.text-content {
  width: 60%;
  padding-right: 20px;
}

.image-content {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.who-is {
  color: white;
  font-size: 2.5em;
  font-family: 'akzidenz';
  margin-top: 0;
}

.isa-script {
  color: #C70D0D;
  font-family: 'sloop', cursive;
  font-size: 5em;
  margin-top: -0.2em;
  margin-left: 0.5em;
}

.who-is-isa p {
  font-family: 'akzidenz';
  line-height: 1.6;
  margin: 1rem;
}

/* Image Styling */
.portrait {
  max-width: 100%;
  height: auto;
  display: block;
  border-radius: 10px; /* Optional: Rounded corners */
}

/* Individual Image Adjustments */
.image1 {
  max-width: 40%;
  height: auto;
  align-self: flex-start;
}

.image2 {
  max-width: 40%;
  height: auto;
  margin-right: -30rem;
  margin-bottom: -1rem;
}

.image3 {
  max-width: 60%;
  margin-right: 50rem;
  margin-bottom: 2rem;
  height: auto;
  align-self: center;
}

/* Responsive Design */
@media (max-width: 768px) {
  nav ul {
    flex-direction: column;
    align-items: center;
  }

  .who-is-isa {
    flex-direction: column;
  }

  .content-wrapper {
    flex-direction: column;
    align-items: center;
  }

  .text-content,
  .image-content {
    width: 90%; /* Adjust for smaller screens */
    padding: 0;
  }

  .subtitle {
    font-size: 1.5rem; /* Adjust font size */
  }

  .first-name, .last-name {
    font-size: 4rem; /* Adjust title size for mobile */
  }
}
