/* Arrows */
.slick-prev, 
.slick-next {
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: 50%;
    display: block;
    width: 20px;
    height: 20px;
    padding: 0;
    transform: translateY(-50%);
    cursor: pointer;
    background: transparent;
    border: none;
    z-index: 1000;
    color:  #C70D0D;
}

/* Arrow Colors */
.slick-prev:before, 
.slick-next:before {
    font-family: 'slick';
    font-size: 24px;
    color: #C70D0D; /* Red arrows */
    opacity: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* Hover Effect */
.slick-prev:hover:before, 
.slick-next:hover:before {
    color: #fff; /* White arrows on hover */
}

/* Arrow Content */
.slick-prev:before {
    content: '←';
    color:  #C70D0D;
}
.slick-next:before {
    content: '→';
    color:  #C70D0D;
}

/* Arrow Positioning */
.slick-prev {
    left: -25px;
}
.slick-next {
    right: -25px;
}
