@font-face {
  font-family: 'retropix';
  src: url(fonts/retropix.otf);
  src: url('fonts/retropix.woff2') format('woff2'), 
  url('fonts/retropix.woff') format('woff');
}
@font-face {
  font-family: 'sloop';
  src: url(fonts/Sloop-ScriptThree\ 5.ttf);
}
@font-face {
  font-family: 'akzidenz';
  src: url(fonts/Akzidenz-grotesk-bold.ttf);
}

.box {
  display: flex;
  display: -webkit-flex; /* Safari fallback */
}

body {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  font-family: 'akzidenz', sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  box-sizing: border-box;
}

.full-height {
  height: 100vh; /* This makes the main section take up the full viewport height */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header {
  padding: 1rem;
}

nav ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap; 
}

nav ul li {
  margin: 0 2rem;
}

nav ul li a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-weight: bold;
  font-size: 1.5rem;
}

nav ul li:first-child a {
  color: #C70D0D;
}

/* Media Queries for Responsiveness */
@media (max-width: 768px) {
  nav ul li {
    margin: 0 0.5rem; /* Further reduced margin */
  }

  nav ul li a {
    font-size: 1rem; /* Further reduced font size */
  }
}

@media (max-width: 480px){
    nav ul li {
        margin: .2rem;
    }
    nav ul li a{
        font-size: .8rem;
        padding: .2rem;
    }
}



main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact-section {
  display: flex;
  align-items: center;
  text-align: center;
  gap: 2vw; /* Use viewport width units for gap */
}

.film-strip img {
  max-width: 30%; /* Make image responsive */
  height: auto;
}

.contact-info h1 {
  font-size: 3rem;
  margin: 0;
}

.contact-info h1 span {
  font-family: 'sloop', cursive;
  font-size: 2rem;
  color: #C70D0D;
}

.contact-info p {
  font-size: 1.2rem;
  margin: 0.5rem 0;
}

.contact-info a {
  color: #C70D0D;
  text-decoration: none;
}

.contact-info a:hover {
  text-decoration: underline;
}

@media (max-width: 768px){
    .contact-section{
        flex-direction: column;
        gap: 1rem;
    }
}