@font-face {
  font-family: 'retropix';
  src: url(fonts/retropix.otf);
  src: url('fonts/retropix.woff2') format('woff2'), 
  url('fonts/retropix.woff') format('woff');
}
@font-face {
  font-family: 'sloop';
  src: url(fonts/Sloop-ScriptThree\ 5.ttf);
}
@font-face {
  font-family: 'akzidenz';
  src: url(fonts/Akzidenz-grotesk-bold.ttf);
}

.box {
  display: flex;
  display: -webkit-flex; /* Safari fallback */
}

body {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  font-family: 'akzidenz', sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  box-sizing: border-box;
}

.content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 100px;
}

.full-height {
  height: 100vh; /* This makes the main section take up the full viewport height */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header {
  padding: 1rem;
}

nav ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap; 
}

nav ul li {
  margin: 0 2rem;
}

nav ul li a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-weight: bold;
  font-size: 1.5rem;
}

.active {
  color: #C70D0D;
}

/* Media Queries for Responsiveness */
@media (max-width: 768px) {
  nav ul li {
    margin: 0 0.5rem; /* Further reduced margin */
  }

  nav ul li a {
    font-size: 1rem; /* Further reduced font size */
  }
}

@media (max-width: 480px){
    nav ul li {
        margin: .2rem;
    }
    nav ul li a{
        font-size: .8rem;
        padding: .2rem;
    }
}


.journal-window {
  margin: 10px;
  border: 1px solid rgb(0, 0, 0);
  text-align: center;
}


.journal-title {
  padding: 10px;
  margin: 0; /*Remove default margin*/
  font-family: 'sloop', cursive;
  font-size: 40px;
}


@media (max-width: 768px) {
  .video-window {
    width: 45%;
  }
}

@media (max-width: 480px) {
    .video-window {
        width: 90%;
    }
}
