@font-face {
    font-family: 'retropix';
    src: url(fonts/retropix.otf);
  }
  @font-face {
    font-family: 'sloop';
    src: url(fonts/Sloop-ScriptThree\ 5.ttf);
  }
  @font-face {
    font-family: 'akzidenz';
    src: url(fonts/Akzidenz-grotesk-bold.ttf);
  }
  
  body {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    font-family: 'akzidenz', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    box-sizing: border-box;
  }
  
  .full-height {
    height: 100vh; /* This makes the main section take up the full viewport height */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  header {
    padding: 1rem;
  }
  nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
  }
  
  nav ul li {
    margin: 0 2rem;
  }
  
  nav ul li a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-weight: bold;
    font-size: 1.5rem;
  }
  
  nav ul li a.active {
    color: #C70D0D; /* Color for the active page */
    background-color: #000000; /* Optional: background color change */
  }

  .video-container {
    text-align: center; /* Centers the iframe horizontally */
    height: autox;      /* Optional: Full-page centering */
    display: flex;      /* Ensures vertical centering */
    justify-content: center;
    align-items: center;
}
iframe {
    width: 700px; /* Standard YouTube video width */
    height: auto; /* Standard YouTube video height */
}

